*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container{
    width: 100%;
    height: 100vh;
    background-image: url("https://i.pinimg.com/originals/32/81/bb/3281bbb916dc95b8bef4e52e24a8cc8b.gif");
    position: fixed;
    z-index: 10;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding-bottom: 300px;
}
.img{
    width: 100%;
    height: 100%;
}
.divTitle{
    width: 40%;
    text-align: center;
    height: auto;
    border-radius: 5px;
    box-shadow: 20px 20px 22px rgba(0, 0, 0, 0.5);
    background: rgb(200, 0, 0);
    margin-bottom: 10px;
}
.h1{
    padding: 20px;
    text-align: center;
    font-size: 80px;
    color: #fff;
}
.title{
    color: #fff;
    padding: 20px;
}
.cont{
    font-size: 24px;
    width:100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.img{
    width: 40vw;
    height: 40vh;
}
.containerBtn{
    width: auto;
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
.link{
    text-decoration: none;
}
.boton{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 45px;
    margin: 20px;
    background-color: rgb(200, 0, 0);
    color: #fff;
    align-items: center;
    justify-content: center;
    border: none;
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;
    text-transform: uppercase;
    transition: .3s all;
    border-radius: 5px;
    box-shadow: 20px 20px 22px rgba(0, 0, 0, 0.5);
}
.boton:hover{
    color: rgb(200, 0, 0);
    background: #fff;
    font-size: 19px;
    -webkit-box-shadow: 8px 5px 15px -2px #000000; 
    box-shadow: 8px 5px 15px -2px #000000
}

@media (max-width: 575px) {
    body{
        width: 100%;
        height: auto;
    }
    .containerBtn{
        flex-direction: column;
    }
}